- hosts: managers
  become: no
  any_errors_fatal: true
  gather_facts: no 
  vars_files:
      - vars.yml

  tasks:
    - name: Build Alea images
      delegate_to: localhost
      become: yes
      run_once: yes
      shell: | 
        cd ..
        docker build . -t "{{alea_image_name}}" 

    - name: Push Alea images
      become: yes
      delegate_to: localhost
      run_once: yes
      shell: | 
        docker push "{{alea_image_name}}"
