- hosts: manager
  become: no
  any_errors_fatal: true
  gather_facts: no 
  vars_files:
      - vars.yml

  tasks:

    - name: Build Alea containers
      delegate_to: localhost
      run_once: yes
      shell: | 
        cd ..
        docker build . -t "{{alea_container_name}}" --no-cache

    - name: Export Alea containers
      delegate_to: localhost
      run_once: yes
      shell: | 
        cd ..
        docker save "{{alea_container_name}}" -o "containers/{{alea_container_name}}.tar"
