# - hosts: replicas, managers
#   become: no
#   any_errors_fatal: true
#   gather_facts: no 
#   vars_files:
#       - vars.yml

#   tasks:

#     - name: Remove remote server configuration folder
#       file: 
#         path: "{{ item }}"
#         state: absent
#       with_items:
#         - "{{ default_install_dir }}"
    
- hosts: masters
  become: no
  any_errors_fatal: true
  gather_facts: no 
  vars_files:
      - vars.yml

  tasks:
    - name: zip results
      archive:
        path: "{{ home_dir }}/benchmarks/exp{{ exp_number }}/results"
        dest: "{{ home_dir }}/benchmarks/results_{{ exp_number }}.tgz"

    - name: save results locally
      fetch:
        src: "{{ home_dir }}/benchmarks/results_{{ exp_number }}.tgz"
        flat: true
        dest: "../experiments/"

