- hosts: replicas,managers
  become: no
  any_errors_fatal: true
  gather_facts: no 
  vars_files:
      - vars.yml

  tasks:

    - name: Create remote configuration folder
      file: 
        path: "{{ item }}"
        state: directory
        mode: "g+rw"
      with_items:
        - "{{ default_install_dir }}/{{inventory_hostname}}"      

    - name: Upload containers to remote nodes
      copy:
        src: "../containers/{{ alea_image_name }}.tar"
        dest: "{{ default_install_dir }}/"

    - name: Load containers into local registry
      shell: | 
        docker load < {{ alea_image_name }}.tar
      args:
        chdir: "{{default_install_dir}}"

    - name: Ensure python dependencies are installed
      become: yes
      ansible.builtin.pip:
        name:
          - docker
        # state: absent

    - name: Inspect if images are installed
      docker_image_info:
        name:
          - "{{alea_image_name}}"
      register: result

    # - name: print images
    #   debug: 
    #     msg:  "{{ result }}"

    - name: Make sure that image "{{alea_image_name}}" exist locally
      assert:
        that:
          - result.images | length == 1

    # - name: Deploy cluster configuration
    #   template:
    #     src: templates/server.conf.tmpl
    #     dest: "{{ default_install_dir }}/{{ protocol }}/{{inventory_hostname}}/server{{ topology['servers'][inventory_hostname].id }}.conf"
    #     mode: "u=r,g=r,o=r"

    # - name: Deploy server run script
    #   template:
    #     src: templates/runServer.sh.tmpl
    #     dest: "{{ default_install_dir }}/{{ protocol }}/{{inventory_hostname}}/runServer{{ topology['servers'][inventory_hostname].id }}.sh"
    #     mode: "u=rx,g=rx,o=rx"
