- hosts: replicas, masters, clients
  become: no
  any_errors_fatal: true
  gather_facts: no 
  vars_files:
      - vars.yml

  tasks:
    - name: Create remote execution folder
      file:
        path: "{{ home_dir }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}"
        state: directory

    - name: Create remote configuration folder
      file: 
        path: "{{ item }}"
        state: directory
        mode: "g+rw"
      with_items:
        - "{{ default_install_dir }}/{{ inventory_hostname }}"

    - name: Install aptitude (docker installation)
      become: yes
      apt:
        name: aptitude
        state: latest
        update_cache: true
      when: g5k == false

    - name: Install required system packages (docker installation)
      become: yes
      apt:
        pkg:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - python3-pip
          - virtualenv
          - python3-setuptools
        state: latest
        update_cache: true
      when: g5k == false

    - name: Add Docker GPG apt Key (docker installation)
      become: yes
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present
      when: g5k == false

    - name: Add Docker Repository (docker installation)
      become: yes
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present
      when: g5k == false

    - name: Update apt and install docker-ce (docker installation)
      become: yes
      apt:
        name: docker-ce
        state: latest
        update_cache: true
      when: g5k == false

    - name: Install Docker Module for Python (docker installtion)
      pip:
        name: docker
      when: g5k == false

    - name: Ensure rootless docker dependencies are installed
      become: yes
      apt:
        pkg:
          - uidmap
        state: latest
        update_cache: true
      when: g5k == false

    - name: Setup rootless docker
      shell: |
        sudo systemctl disable --now docker.service docker.socket
        /usr/bin/dockerd-rootless-setuptool.sh install
        systemctl --user start docker
      when: g5k == false

    - name: Install docker (g5k)
      shell: /grid5000/code/bin/g5k-setup-docker
      when: g5k == true

    - name: Ensure python dependencies are installed
      become: yes
      ansible.builtin.pip:
        name:
          - docker
    
    - name: Pull an image
      shell: "docker pull {{ alea_image_name }}"

#     - name: Inspect if images are installed
#       docker_image_info:
#         name:
#           - "{{alea_image_name}}"
#       register: result

#     - name: Make sure that image "{{alea_image_name}}" exist locally
#       assert:
#         that:
#           - result.images | length == 1

    # - name: Deploy cluster configuration
    #   template:
    #     src: templates/server.conf.tmpl
    #     dest: "{{ default_install_dir }}/{{ protocol }}/{{inventory_hostname}}/server{{ topology['servers'][inventory_hostname].id }}.conf"
    #     mode: "u=r,g=r,o=r"

    # - name: Deploy server run script
    #   template:
    #     src: templates/runServer.sh.tmpl
    #     dest: "{{ default_install_dir }}/{{ protocol }}/{{inventory_hostname}}/runServer{{ topology['servers'][inventory_hostname].id }}.sh"
    #     mode: "u=rx,g=rx,o=rx"
    #
    #
    
    
- hosts: replicas, masters, clients
  become: no
  any_errors_fatal: true
  gather_facts: no 
  vars_files:
      - vars.yml

  tasks:
      - name: Create results folder
        file:
          path: "{{ home_dir }}/benchmarks/exp{{ exp_number }}/results"
          state: directory


