- hosts: replicas, clients, masters
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: kill previous containers
      shell: |
        (docker kill "{{ inventory_hostname }}" &> /dev/null) || true

    - name: send setting file
      copy:
        dest: "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json"
        src: "{{ setting_file }}"

- hosts: replicas
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: initialize replicas
      shell: | 
        container_id=$(docker run --rm --name "{{ inventory_hostname }}" -d -p 8500:8500 -p 9000-9010:9000-9010 -p 10000-10010:10000-10010 -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json:/alea/setting.json" "{{alea_image_name}}" replica)
        docker logs -f $container_id > "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}.log" &
      register: output
      args:
        chdir: "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}"

    - debug: var=output
          
- hosts: clients
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: initialize clients
      shell: | 
        container_id=$(docker run --rm --name "{{ inventory_hostname }}" -d -p 20000-20010:20000-20010 -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json:/alea/setting.json" "{{alea_image_name}}" client)
        docker logs -f $container_id > "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}.log" &
      register: output
      args:
        chdir: "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}"

    - debug: var=output

- hosts: masters
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: initialize master node
      shell: |
        container_id=$(docker run --rm --name "{{ inventory_hostname }}" -d -p 15000:15000 -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/results:/alea/results" -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json:/alea/setting.json" "{{alea_image_name}}:latest" master)
        docker logs -f $container_id > "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}.log" &
      register: output
      args:
        chdir: "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}"

    - debug: var=output
