- hosts: replicas, clients, masters
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: kill previous containers
      shell: |
        (docker kill "{{ inventory_hostname }}" &> /dev/null) || true

    - name: send setting file
      copy:
        dest: "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json"
        src: "{{ setting_file }}"

    - name: create log file
      file:
        path: "{{ home_dir }}/benchmarks/exp{{ exp_number }}/logs/{{ inventory_hostname }}.log"
        state: touch


- hosts: replicas
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: initialize replicas
      shell: | 
        docker run --rm -d \
          --name "{{ inventory_hostname }}" \
          -p 8500:8500 \
          -p 9000-9010:9000-9010 \
          -p 10000-10010:10000-10010 \
          -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json:/alea/setting.json" \
          -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/logs/{{ inventory_hostname }}.log:/alea/log" \
          "{{alea_image_name}}" replica
      register: output
      args:
        chdir: "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}"

    # - debug: var=output
          
- hosts: clients
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: initialize clients
      shell: | 
        docker run --rm -d \
          --name "{{ inventory_hostname }}" \
          -p 20000-20010:20000-20010 \
          -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json:/alea/setting.json" \
          -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/logs/{{ inventory_hostname }}.log:/alea/log" \
          "{{alea_image_name}}" client
      register: output
      args:
        chdir: "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}"

    # - debug: var=output

- hosts: masters
  become: no
  any_errors_fatal: true
  gather_facts: yes 
  vars_files:
      - vars.yml

  tasks:
    - name: initialize master node
      shell: |
        docker run --rm -d \
          --name "{{ inventory_hostname }}" \
          -p 15000:15000 \
          -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/results:/alea/results" \
          -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/setting.json:/alea/setting.json" \
          -v "{{ home_dir }}/benchmarks/exp{{ exp_number }}/logs/{{ inventory_hostname }}.log:/alea/log" \
          "{{alea_image_name}}:latest" master
      register: output
      args:
        chdir: "{{ ansible_env.HOME }}/benchmarks/exp{{ exp_number }}/{{ inventory_hostname }}"

    # - debug: var=output
